@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
:root {
  --background-image: url("https://media.discordapp.net/attachments/999547917931126817/1066752800530374677/stretched-1920-1080-1230863.jpg");
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-modal-image: url("https://media.discordapp.net/attachments/999547917931126817/1066752800530374677/stretched-1920-1080-1230863.jpg");
  --popout-modal-blur: 41px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
  --home-button-image: url("https://cdn.discordapp.com/attachments/999547917931126817/1066753349468295328/micchon_icon.jpg");
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.5;
  --left-brightness: 0.5;
  --middle-brightness: 0.5;
  --right-brightness: 0;
  --popout-modal-brightness: 0.5;
  --gradient-primary: 103, 58, 183;
  --gradient-secondary: 63, 81, 181;
  --gradient-direction: 320deg;
  --tint-colour: 255, 51, 159;
  --tint-brightness: 0;
  --window-padding: 10px;
  --window-roundness: 25px;
  --scrollbar-colour: #ff339f5a;
  --link-colour: #ff339fff;
  --show-gift-gif-buttons: none;
  --font: "Whitney";
  --update-notice-1: none;
}
